:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --modal: rgba(46, 47, 66, 0.4);
}
/* reset */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>header>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* placing */

.head {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

  top: 0px;
  background-color: var(--color-white);
}
/* link style */
.links {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  color: var(--color-navy-blue);
}
.link {
  color: var(--color-slate);
  text-decoration: none;
}
.header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header-container {
  height: 72px;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
}

.nav-position {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link:not :last-child {
  margin-right: 40px;
}
.carrent {
  padding: 24px 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px blue;
  outline-offset: -2px;
}
.carrent {
  position: relative;
  color: var(--color-ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carrent::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  background: var(--color-ocean);
}
.link-name {
  color: var(--color-navy-blue);
}

.links:hover,
.links:focus {
  color: var(--color-ocean);
}
.link:hover,
.link:focus {
  color: var(--color-ocean);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>hero>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>future>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.specifics-icon {
  display: flex;
  justify-content: center;
  background-color: var(--color-cloud);
  margin-bottom: 24px;
  width: 264px;
  height: 112px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
}
.future-list {
  display: flex;
  gap: 24px;
}
.specifics-strategy {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.specifics {
  padding: 120px 0;
}
.text-style-header-a {
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.title {
  margin-top: 0px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>what we are doing >>>>>>>>>>>>>>>>>>> */
.doing-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 72px;
}

.occupation {
  padding-bottom: 120px;
}
.occupation-list {
  width: calc((100% - 48px) / 3);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>team>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.social-liste {
  display: block;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
  padding-top: 8px;
  padding-left: 0px;
}
.social-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}
.social-links:hover,
.social-links:focus {
  background-color: var(--color-ocean);
  color: var(--color-cloud);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-name {
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-style {
  padding: 120px 0;
}
.text-card-p {
  text-align: center;
}
.team-card-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-card-title-p {
  padding: 32px 16px;
}
.team-card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Cutromers>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-liste {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.customers-block {
  width: calc((100% - 168px) / 6);
  height: 88px;
}
.customers-links {
  border: 1px solid var(--color-light-slate);
  color: var(--color-light-slate);
  border-radius: 4px;
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-group {
  fill: currentColor;
}
.icon-group:hover,
.icon-group:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}
.customers-links:hover,
.customers-links:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>footer>>>>>>>>>>>>>>>>>>>>>> */
.footer-style {
  padding: 100px 0;
}
.footer-p {
  width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-container {
  margin-right: 120px;
}
/* foooter social */
.footer-style {
  display: flex;
  align-items: baseline;
}
.footer-index {
  display: flex;
  align-items: baseline;
  justify-content: start;
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-liste-f {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 16px;
}
.social-icons {
  width: 24px;
  height: 24px;
  fill: var(--color-cloud);
}
.text {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.social-links-f:hover {
  background-color: var(--color-green);
}
.social-links-f:focus {
  background-color: var(--color-green);
}
/* <<<<<<<<<<<<<<<<<<<<footer-subscribe>>>>>>>>>>>>>>>>>> */
.footer-subscribe {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.bt-subscribe {
  font-family: inherit;
  font-style: normal;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--color-iris);
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  transition: background-color var(--color-iris);
}
.send-icon {
  fill: var(--color-white);
  margin-left: 16px;
  transition: fill var(--color-white);
  height: 24px;
}
.footer-sub-container {
  margin-left: 80px;
}
.footer-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.footer-email {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.bt-subscribe:hover,
.bt-subscribe:focus {
  background-color: var(--color-ocean);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>portfolio buttons>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.button-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>gallery foto>>>>>>>>>>>>>>> */
.portfolio {
  padding: 96px 0 120px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery-foto {
  flex-basis: calc((100% - 48px) / 3);
}
.link-foto:hover .cover-text {
  transform: translateY(0);
}
.link-foto:focus .cover-text {
  transform: translateY(0);
}
.foto-cover {
  position: relative;
  overflow: hidden;
}
.cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-text {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}
.name-picture {
  margin-bottom: 8px;
}
.link-foto {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-foto:hover,
.link-foto:focus {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

/* body */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-slate);
}
/* list ul */
.list {
  list-style: none;
}
/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
}

/* button hover focus */
.oder-button:hover,
.oder-button:focus {
  background-color: var(--color-ocean);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transform: translateY(0);
}
/* card team background */
.team-style {
  background-color: var(--color-cloud);
}
/* footer  background*/
.footer-style {
  background-color: var(--color-navy-blue);
}
/* link footer */
.link-name-footer {
  color: var(--color-cloud);
}
/* footer text  */
.footer-text {
  font-family: inherit;
  color: var(--color-white);
}
/* team card  */
.team-card {
  background-color: var(--color-white);
}
.tel-mail {
  font-style: normal;
}

/* title-h1 */
.main-title {
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.hero {
  background-color: var(--color-navy-blue);
}
/* title-h2 */
.text-style-header-b {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
/* title-h3 */
.text-style-header-a {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
/* style for <P> */
.text-style-body-medium {
  font-weight: 400;
  color: var(--color-slate);
}
/* oder button style */
.oder-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 31px;
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;

  font-style: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* filter button style */
.filter-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset 100%;
  clip: rect 0 0 0 0;
  overflow: hidden;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<modal>>>>>>>>>>>>>>>>>>>>>>>>>> */
.backdrop {
  position: fixed;
  background-color: var(--modal);
  width: 100%;
  height: 100%;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.data-modal {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-modal:hover,
.data-modal:focus {
  border: none;
  background-color: var(--color-ocean);
  fill: var(--color-white);
}
.vectorx {
  width: 8px;
  height: 8px;
  color: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<modal login>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.modal-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-navy-blue);
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--color-iris);
}
.modal-input:focus + .modal-icon {
  fill: var(--color-iris);
}
.send {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  color: var(--color-white);
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send:hover {
  background-color: var(--color-ocean);
}
.input-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  display: block;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;

  color: var(--color-light-slate);
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color var(--color-iris);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border-color: var(--color-iris);
}
.check-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  line-height: 1.17;
}
.title-privacy {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--color-iris);
}
.title-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .title-check {
  background: var(--color-ocean);
  border: 1px solid var(--color-ocean);
  border-radius: 2px;
  fill: var(--color-cloud);
  border: none;
}
.modal-check-box {
  margin-bottom: 24px;
}
.modal-coment {
  margin-bottom: 16px;
}
